{% extends "../main_app/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Login Page{% endblock title %}

{% block content %}

<div class="container mt-sm-5 mb-sm-5 ">
    <div class="form-wrapper w-75 m-sm-auto p-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                <h2>Password reset sent</h2>
                <h3>Code is Sent at : {{form.email}}</h3>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

                <div class="d-inline-block bg-primary p-2">
                  <a href="{% url 'account:login_page' %}" class="text-white text-decoration-none">Goto Login</a>
                </div>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}