
{% extends "../main_app/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Login Page{% endblock title %}

{% block content %}

{% comment %} <form action="" method="post" novalidate>
{% csrf_token %}
{% for form in forms %}
{{form.label_tag}}{{form}} {{form.errors|striptags}} <br> <br>
{% endfor %}
<input type="submit">
</form> {% endcomment %}

<div class="container mt-sm-5 mb-sm-5 ">
    <div class="form-wrapper w-75 m-sm-auto p-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                From email


                    <form novalidate method = 'post' action = "">
                    {% csrf_token %}
                    <h3 class="text-center mb-4 mt-0" sytle = "text-align: center;">Reset Password</h3>
                   <div class="form-group">
                            <label for="firstname" class="font-weight-bold added-style">{{form.new_password1.label}}</label>                            
                            {% render_field form.new_password1  class+="form-control added-style" placeholder=form.new_password1.label %}
                            <span class="errors">{{form.new_password1.errors|striptags}}</span>
                        </div>
                    <div class="form-group">
                            <label for="firstname" class="font-weight-bold added-style">{{form.new_password2.label}}</label>                            
                            {% render_field form.new_password2  class+="form-control added-style" placeholder=form.new_password2.label %}
                            <span class="errors">{{form.new_password2.errors|striptags}}</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                        <br>
                        <br>
   
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}