{% extends '../main_app/base.html' %}

{% block title %}My Profile{% endblock title %}

{% block content %}
<div class="text-center">
    <h4 class="mt-2 "> Manage My Account </h4>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 col-sm-12 border shadow pt-2 p-2 mt-2 mr-2 bg-white" style="height: 270px;">
            <!-- {% include "myprofile/sidebar.html" %} -->
            <p>Hello, User</p>
            <ul>
                <li> <a href="{% url 'myprofile:myprofile' %}">
                        <h5 class="text-muted"> My Profile </h5>
                    </a></li>
            </ul>
            <ul>
                <li> <a href="{% url 'myprofile:shippingaddress' %}">
                        <h5 class="text-muted"> Shipping Address </h5>
                    </a></li>
            </ul>
            <ul>
                <li><a href="{% url 'myprofile:my_order' %}" style="text-decoration:none; color: black;">
                        <h5 style="padding: 2px;">My Order </h5>
                    </a></li>
            </ul>
            <ul>
                <li><a href="{% url 'myprofile:my_review' %}">
                        <h5 class="text-muted">My Review </h5>
                    </a></li>
            </ul>
            <ul>
                <li><a href="">
                        <h5 class="text-muted">Top Item Gains</h5>
                    </a></li>
            </ul>
        </div>
        <div class="col-md-8 col-12 bg-white p-4 m-2 ml-3 mb-5 border shadow">
            <table class="display table table-hover" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Placed on</th>
                        <th scope="col">Item</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for orders in order_items %}
                    <tr style="font-size: 14px;">
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a style="color: black; font-size: 16px;" href="{% url 'detail_page' orders.product.id%}">{{orders.product.product_name}}</td>
                        <td>{{orders.order.date_ordered}}</td>
                        <td>{{orders.quantity}}</td>
                        <td>{{orders.get_total}}</td>
                        
                        {% if orders.being_delivered %}
                            <td>On your way</td>
                        {% elif orders.received%}
                            <td>Received</td>
                        {% else %}
                            <td>Processing</td>
                        {% endif %}                          
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
let table = new DataTable('#myTable', {
    // options
});
</script>

{% endblock content %}