{% extends '../main_app/base.html' %}

{% block title %}My Profile{% endblock title %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
<style></style>
<div class="text-center">
    <h4 class="mt-2 "> Manage My Account </h4>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-3 col-sm-12 border shadow pt-2 p-2 mt-2 ml-2 mr-2 bg-white" style="height: 270px;">
            <!-- {% include "myprofile/sidebar.html" %} -->
            <p>Hello, {{user_profile.username | title}}</p>
            <ul>
                <li> <a href="{% url 'myprofile:myprofile' %}">
                        <h5 class="text-muted"> My Profile </h5>
                    </a></li>
            </ul>
            <ul>
                <li> <a href="{% url 'myprofile:shippingaddress' %}">
                        <h5 class="text-muted"> Shipping Address </h5>
                    </a></li>
            </ul>
            <ul>
                <li><a href="{% url 'myprofile:my_order' %}" >
                        <h5 class="text-muted">My Order </h5>
                    </a>
                </li>
            </ul>
            <ul>
                <li><a href="{% url 'myprofile:my_review' %}">
                        <h5 class="text-muted">My Review </h5>
                    </a></li>
            </ul>
            <ul>
                <li><a href="{% url 'myprofile:review_seller' %}"  style="text-decoration:none; color: black;">
                        <h5 style=" padding: 2px;" >Review Your Seller </h5>
                    </a></li>
            </ul>
        </div>
        <div class="col-md-8 col-12 bg-white p-4 m-2 ml-3 mb-5 border shadow">
            <table class="table border">
                <p style="font-size: 18px; color: gray; "> Rate Your Seller</p>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Shop Name</th>
                        <th scope="col">Seller Name</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Average rating</th>
                    </tr>
                </thead>
                <tbody>
                {% for rating in order_items %}
                        <tr>
                            <td> {{forloop.counter}} </td>
                            <td> <img src="{{rating.product.product_image_src.url}}" alt="{{rating.product.product_name}}" width="80px" height="80px"><br>{{rating.product.product_name}}</td>
                            <td class="text-muted" style="font-size: 16px;">{{rating.product.user.shop_name}}</td>
                            <td class="text-muted" style="font-size: 14px;">{{rating.product.user.first_name}} {{rating.product.user.last_name}}</td>
                            <td>
                            {% if rating.reviewseller_set.is_rated %}
                                Already rated  
                           
                            {% else %}    
                                <form class="review-form" action="{% url 'myprofile:review_seller_success' rating.pk %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-rating">
                                            <div class="stars">
                                                <input type="radio" id="star5{{rating.pk}}" name="rate" value="5" /><label
                                                    for="star5{{rating.pk}}"></label>
                                                <input type="radio" id="star4{{rating.pk}}" name="rate" value="4" /><label
                                                    for="star4{{rating.pk}}"></label>
                                                <input type="radio" id="star3{{rating.pk}}" name="rate" value="3" /><label
                                                    for="star3{{rating.pk}}"></label>
                                                <input type="radio" id="star2{{rating.pk}}" name="rate" value="2" /><label
                                                    for="star2{{rating.pk}}"></label>
                                                <input type="radio" id="star1{{rating.pk}}" name="rate" value="1" /><label
                                                    for="star1{{rating.pk}}"></label>
                                            </div>
                                        </div>
                                    </div>
                                    {% if user.id is not None %}
                                    <button class="btn" type="submit" name="review_btn{{rating.pk}}"
                                        style=" border-radius: 0; background-color: #f57224; color:white; font-size: 14px;">Submit</button>
                                    {% else %}
                                    You must be logged in to post a review
                                    {% endif %}
                                </form>
                            {% endif %}
                            </td>
                            <td class="text-muted" style="font-size: 14px;">5</td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}