<div class="row ">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-4">
        <div class="card shadow-sm" style="width: 18rem;">
            <div class="card-body text-center">
                <h3 class="card-title text-muted border-bottom mb-4">Total Sales</h3>
                <p class="card-text" style="font-weight: 500;">
                    {% if total_sales == 0 %}
                        <h4 class="card-text">0</h4>
                    {% else %}
                        <h4 class="card-text">{{total_sales}}</h4>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row  mt-4 pt-3 pb-2 text-center">

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
        <div class="card" style="">
            <div class="card-body">
                <h3 class="card-title text-muted border-bottom mb-4">Number of Orders</h3>
                {% if merchants_product.count == 0 %}
                    <h4 class="card-text">0</h4>
                {% else %}
                    <h4 class="card-text">{{my_order.count}}</h4>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
        <div class="card" style="">
            <div class="card-body">
                <h3 class="card-title text-muted border-bottom mb-4">Number of Products</h3>
                
                {% if merchants_product.count == 0 %}
                    <h4 class="card-text">0</h4>
                {% else %}
                    <h4 class="card-text">{{merchants_product.count}}</h4>
                {% endif %}
                
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
        <div class="card" style="">
            <div class="card-body">
                <h3 class="card-title text-muted border-bottom mb-4">Low Stocks Products!</h3>
                
                {% if low_stock <= 0  %}
                    <h4 class="card-text">0</h4>
                {% else %}
                    <h4 class="card-text">{{low_stock}}</h4>
                {% endif %}
                    
                
            </div>
        </div>
    </div>
</div>

 {% comment %} <div class="container mt-3">
    <div class="row">
      <div class="col-xl6 col-md-6 col-sm-12">
          <canvas id="merchant_dashboard_chart" width='100%' height="100%"></canvas>
      </div>
      <div class="col-xl6 col-md-6 col-sm-12">
          <canvas id="merchant_bar_plot" width='100%' height="100%"></canvas>
      </div>
    </div>

</div> {% endcomment %}
