{% extends 'merchant_app/m-base.html' %}
{% load static %}

{% block title %}
Merchant Profile
{% endblock title %}

{% block content %}
<style>
    #myImg {

        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.7;
    }


    #myImg2 {

        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg2:hover {
        opacity: 0.7;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }

</style>
<div class="container">
    {% if messages %}
        <div class="mt-3 col-12 text-center">
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 border border-info p-3">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td> {{merchant_user.first_name|upper}} {{merchant_user.last_name|upper}}</td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td>{{merchant_user.email}}</td>
                    </tr>

                    <tr>
                        <td>Phone Number</td>
                        <td>{{merchant_user.phone_number}}</td>
                    </tr>
                    
                    <tr>
                        <td>Address</td>
                        <td>{{merchant_user.address}}</td>
                    </tr>

                    <tr>
                        <td>Pan number</td>
                        <td>{{merchant_user.pan_number}}</td>
                    </tr>

                    <tr>
                        <td>Document</td>
                        <td>
                            <div class="doc_image d-inline" id="doc_image">
                                <img class="border" id="myImg" src="{{merchant_user.document.url}}" loading="lazy" 
                                    style="width: 200px; height: 200px; margin-right: 10px;" alt="PAN document: {{merchant_user.pan_number}}" loading="lazy">

                                <div id="myModal" class="modal">
                                    <span class="close">&times;</span>
                                    <img id="modal-img" class="modal-content" src="" loading="lazy" >
                                    <div id="caption"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a href="{%url 'merchant_app:mprofile_update'%} "><button class="btn-primary p-2" style="border:none;">Update Profile</button></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Get the id model    
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    // var img = document.getElementById("myImg");  
    var modalImg = document.getElementById("modal-img");
    var captionText = document.getElementById("caption");
    // img.onclick = function(){
    //   modal.style.display = "block";
    //   modalImg.src = this.src;
    //   captionText.innerHTML = this.alt;
    // }


    document.addEventListener("click", (e) => {
        const elem = e.target;
        if (elem.id === "myImg") {
            modal.style.display = "block";
            modalImg.src = elem.dataset.biggerSrc || elem.src;
            captionText.innerHTML = elem.alt;
        }
    })

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>

{% endblock content %}