{% extends 'merchant_app/m-base.html' %}

{% block content %}
<p> My orders </p>

<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Status </th>
            <th scope="col">Ordered Quantity</th>
            <th scope="col">Your Quantity</th>
            <th scope="col">Ordered by</th>
            <th scope="col">Ordered date</th>
        </tr>
    </thead>
    <tbody>
        
        {% for orders in my_order %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href=" {% url 'detail_page' orders.product.id%}" style="text-decoration: none; color:black;"><img width="150px" height="150px" src="{{orders.product.product_image_src.url}}" loading="lazy" alt="{orders.product.product_name}}"><br>{{orders.product.product_name | title}}</a></td>
            {% if orders.received and orders.being_delivered%}
                <td>Received</td>
            {% elif orders.being_delivered %}
                <td>On your way</td>
            {% elif orders.received%}
                <td>Received</td>
            {% else %}
                <td>Processing</td>
            {% endif %} 
            <td>{{orders.quantity }}</td>
            <td>{{orders.product.product_quantity.product_inventory_quantity }}</td>
            <td>{{orders.user.first_name | title}} {{orders.user.last_name | title}}</td>
            <td>{{orders.order.date_ordered}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}