html{
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
    height: 10px; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
    font-family:'Roboto-Regular', Tahoma, Helvetica, Arial, sans-serif;
}

