.carousel-inner {
    position: relative;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.featured_product_details {
    text-align: center;
    /* border: 1px solid red; */
    margin: auto;
    width: 450px;
    height: fit-content;
    border-radius: 8px;
    z-index: 1;
    position: absolute;
    left: -35%;
    top: -15%;

}

.featured_product_details>h3 {
    color: black;
    font-size: 33px;
    font-family: Roberto;
    margin: 0 20px 25px 20px;
    font-weight: bold;
}

.featured_product_details>p {
    text-align: center;
    color: black;
    height: 105px;
    padding: 5px;
    margin: 15px auto 10px auto;
    /* border: 1px solid black; */
    font-size: 16px;
}

.featured_product_details .shop_now_button {
    margin-top: 30px;
}

.featured_product_details .shop_now_button .shopnow_button {
    /* background-color: #fdfff5; */
    font-weight: bold;
    border: 1px solid black;
    border-width: 2px;
    width: 120px;
    padding: 12px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}

.featured_product_details .shop_now_button .shopnow_button:hover{
    background-color: black;
    color: white;
    font-weight: lighter;
}