.password_eye{
    position: relative;
}

.password_eye input{
   padding-right: 50px;
}
.password_eye i {
    position: absolute;
    display: block;
    font-size: 20px;
    right: 0;
    bottom: 0;
    border: 2px solid dark;
    cursor: pointer;
    /* border: 1px solid red; */
    padding: 8px;
}