{% extends 'main_app/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
{% load crispy_forms_filters%}
<style>
    .errors{
        color: red;
    }

</style>

<div class="container mt-5" style="width: 800px;">
    <div class="row w-100 pt-2 pb-3 shadow border">
        <div class="col-md-12" style="">
            {% if messages %}
                <div class="mt-3 col-12 text-center">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <h3 class="m-2 mb-4">Billing Details</h3>
            <form action="/checkout/" method = "POST">
            {% csrf_token %}
                {% comment %} <div class="row w-100 pl-3"> {% endcomment %}
                {{forms|crispy}}
                <a href="{% url 'checkout' %}"><button type="submit" class="btn btn-primary btn-block">Make
                            Purchase</button></a>
            </form>
        </div>

        <!--Checkout-->
        {% comment %} <div class="col-md-4 p-5 pt-0">
            <h2 class="mt-3"> Total Amount</h2>
            <div class="mb-3">
                <div class="pt-4">
                    <h5 class="mb-3">The total amount of</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Temporary amount
                            <span>$25.98</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">Shipping
                            <span>Gratis</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>The total amount of</strong>
                                <strong>
                                    <p class="mb-0">(including VAT)</p>
                                </strong>
                            </div>
                            <span><strong>$53.98</strong></span>
                        </li>
                    </ul>
                    <a href="{% url 'checkout' %}"><button type="button" class="btn btn-primary btn-block">Make
                            Purchase</button></a>
                </div>
            </div>
        </div> {% endcomment %}
        <!--end of checkout-->
    </div>
</div>
{% endblock content %}