{% extends 'main_app/base.html' %}
{% load static %}

{% load crispy_forms_filters %}

{% block content %}
<!--details section-->
<div class="container-fluid mt-5 bg-white" id="detail_container" style="height:auto;">
    <div class="row border-bottom mt-2">
        <div class="col-xs-6 m-2 mt-2 text-center" id="main_product_section">
                <div class="col-sm-12" style="height:600px; width:600px;">
                    <img src="{{singleProduct.product_image_src.url}}" class='main-image container-layout' alt=""
                        style="height:100%; width:100%;">
                </div>

                <!--Product alternative Image-->
                <div class="row ml-3 mt-2 myclass" style="height:125px; ">
                    <div class="col-sm-12 col-3" style="height:125px;">
                        <img class='border shadow img-fluid container-layout image-change-js'
                            src="{{singleProduct.product_image_src.url}}"style="height:123px; width:100%;" alt="">
                    </div>
                    {% for data in singleProduct.productalternativeimages_set.all %}
                        <div class="col-sm-12 col-3" style="height:125px;">
                            <img class='border shadow img-fluid container-layout image-change-js'
                                src="{{data.alternative_image.url}}"style="height:123px; width:100%;" alt="">
                        </div>
                    {% endfor %}
                </div>
        </div>
        <div class="col-md-6 mt-2" id="main_product_content_section">
            <!--product name-->
            <h5 class="fs-4">{{singleProduct.product_name}}</h5>

            <div class="availability">
                {% if singleProduct.product_availability %}
                In stock
                {% else %}
                Out of stock
                {% endif %}
            </div>

            <!--categorylevel2-->
            <p class="mb-2 text-muted text-uppercase small">{{singleProduct.product_category.category_name_level2}} ||
                Brand: <strong> {{singleProduct.product_category.brand_name}}</strong></p>

            <!--product ratings-->
            <div id="detail_product_average_rating" class="mb-2">
            
            {% if singleProduct.average_product_rating.rating_avg %}
                <div class="review-rating pull-right" style="font-size: 12px;">
                    <i style=" color:#FFB656;" class="fa fa-star{% if singleProduct.average_product_rating.rating_avg < 1 %}-o empty{% endif %}"></i>
                    <i style=" color:#FFB656;" class="fa fa-star{% if singleProduct.average_product_rating.rating_avg < 2 %}-o empty{% endif %}"></i>
                    <i style=" color:#FFB656;" class="fa fa-star{% if singleProduct.average_product_rating.rating_avg < 3 %}-o empty{% endif %}"></i>
                    <i style=" color:#FFB656;" class="fa fa-star{% if singleProduct.average_product_rating.rating_avg < 4 %}-o empty{% endif %}"></i>
                    <i style=" color:#FFB656;" class="fa fa-star{% if singleProduct.average_product_rating.rating_avg < 5 %}-o empty{% endif %}"></i>
                    ({{singleProduct.average_product_rating.rating_avg|floatformat:1}})
                </div>
            {% else %}
                <div class="review-rating pull-right" style="font-size: 12px;">
                    <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                    <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                    <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                    <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                    <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                    (Not rated)
                </div>
            {% endif %}
            </div>

            <!--product price-->
            <div>
                {% if singleProduct.product_discount.product_discount_active%}
                <p>
                    <del class="price_before_discount"> <span style="font-size: 12px;">
                            Rs.{{singleProduct.product_price}}</span></del>
                    <span style="padding: 2px 8px; font-size: 12px; color:#ffffff;  background: #f57224; width: 100px;">
                        {{singleProduct.product_discount.product_discount_percentage}}% off
                    </span>
                </p>
                <div>
                    <span class="price_after_discount" style="font-size: 18px;"> <span
                            style="font-size: 12px;">Rs.</span> {{singleProduct.discount_calculator}}</span>
                </div>
                {% else %}
                <p><span class="price_after_discount ml-1 "><span style="font-size: 12px;">Rs.</span>
                        {{singleProduct.product_price}}
                    </span></p>
                {% endif %}
            </div>

            <!--product details-->
            <p class="pt-2">{{singleProduct.product_short_description | safe}}</p>

            <hr style="height: 5px;">



            <div class="mt-5" class="product_buttom_addToCart_buyNow">                    
                {% if request.user.is_authenticated %}
                    <form action="/cart/" method="post" class="d-inline">
                        {% csrf_token %}
                        <input hidden type="number" name="detail_item_id" value="{{singleProduct.id}}" id="detail_item_id">
                        <button class="alert alert-secondary add_to_cart_button" type="submit"
                            style="text-decoration: none;"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                    </form>

                {% else %}
                    <form action="{% url 'wishlist' singleProduct.pk %} " method="post" class="d-inline">
                        {% csrf_token %}
                        <input hidden type="number" name="detail_item_id" value="{{singleProduct.pk}}" id="detail_item_id">
                        <button class="alert alert-secondary add_to_cart_button"><i class="far fa-heart mr-2"></i>Add to wishlist</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!--More details and rating/comment sections-->
<div class="container mt-sm-5 mb-sm-5 border p-4" style="overflow:hidden;">
    <div class="row">
        <div class="col-md-12">
            <div class="product-tab mb-5 border-bottom border-primary">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-detail-tab" data-toggle="tab" href="#pills-details" role="tab"
                            aria-controls="pills-details" aria-selected="true">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-review-tab" data-toggle="tab" href="#pills-review" role="tab"
                            aria-controls="pills-review" aria-selected="false">Review ({{comments.count}})</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-detail-tab">
                    <p>
                       {{singleProduct.product_description | safe}}
                    </p>
                </div>
                <!--Review tab-->
                <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                    <div class="row">
                    <!--Display comment-->
                        <div class="col-md-6">
                            <div class="product-reviews hide_comment">
                                {% for rs in comments %}
                                <div class="single-review border-bottom">
                                    <div class="review-heading  d-flex justify-content-between">
                                        <div class="profile_name"><a href="#"><i class="fa fa-user-o"></i>
                                                {{rs.user.first_name}}</a> </div>
                                        <div class="text-muted" style="font-size:14px; color: #aaa">
                                            <b>{{rs.subject}}</b> </div>
                                        <div class="text-muted" style="font-size:14px;"><i class="fa fa-clock-o"></i>
                                            {{rs.create_at}}</div>

                                        <div class="review-rating pull-right" style="font-size: 12px;">
                                            <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                        </div>
                                    </div>
                                    <div class="review-body pl-3">
                                        <p>{{rs.comment}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <button class="see_more_btn"> See more >></button>
                            </div>
                        </div>
                        
                        <!--Comment and review-->
                        <div class="col-md-6">
                            <h4 class="text-uppercase">Write Your Review</h4>

                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}}" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <form class="review-form" action=" {% url 'add_comment' singleProduct.pk %} " method="POST">
                                {% csrf_token %}
                                <div class="form_group_section">
                                    {{forms.subject | as_crispy_field }}
                                    {% comment %} <label for="input_subject" class="form_label_section">Subject</label> {% endcomment %}
                                </div>

                                <div class="form-group mt-2 ">
                                    <textarea name="comment" class="input form-control"
                                        placeholder="Your review"></textarea>
                                </div>
                                <div class="form-group mt-3">
                                    <div class="input-rating">
                                        <strong class="text-uppercase">Your Rating: </strong>
                                        <div class="stars">
                                            <input type="radio" id="star5" name="rate" value="5" /><label
                                                for="star5"></label>
                                            <input type="radio" id="star4" name="rate" value="4" /><label
                                                for="star4"></label>
                                            <input type="radio" id="star3" name="rate" value="3" /><label
                                                for="star3"></label>
                                            <input type="radio" id="star2" name="rate" value="2" /><label
                                                for="star2"></label>
                                            <input type="radio" id="star1" name="rate" value="1" /><label
                                                for="star1"></label>
                                        </div>
                                    </div>
                                </div>
                                {% if user.id is not None %}
                                <button class="btn mt-1" type="submit"
                                    style=" border-radius: 0; background-color: #f57224; color:white;">Submit</button>
                                {% else %}
                                You must be logged in to post a review
                                {% endif %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>





<!--recommendation section-->
<div id="you_may_like" class="d-block mt-5">
    <p class="ml-5 pl-2" style="font-size: 18px; font-weight: 500;"> People who viewed this item also viewed </p>
    <div class="container-fluid" >
        <div class="row pl-5 pr-5">
        {% for data in recommend_product %}
            <div class=" mt-2 mb-2" style="width: 250px;">
            <div class="card " style="border:none ; padding: 10px;">
                <a href="{% url 'detail_page' data.pk %}"><img src="{{data.product_image_src.url}}" class="card-img-top shadow" alt="{{data.product_name}}" ></a>
                {% if data.product_discount.product_discount_active %}
                <div class="position-absolute top-0 right-0 discount-card">{{data.product_discount.product_discount_percentage}}% off
                </div>
                {% endif %}
                <div class="card-body shadow bg-white text-dark overflow-hidden p-2" style= "height: 112px;">
                <h6 class="mb-auto" class="card-title" style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis">{{data.product_name| title}}</h6>
                <p style="font-size:0.6rem; margin-bottom:3px;" class="card-text text-muted">{{data.product_category.brand_name | title}}</p>
                {% if data.average_product_rating.rating_avg %}
                    
                    <div class="review-rating" style="font-size:12px;">
                        <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 1 %}-o empty{% endif %}"></i>
                        <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 2 %}-o empty{% endif %}"></i>
                        <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 3 %}-o empty{% endif %}"></i>
                        <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 4 %}-o empty{% endif %}"></i>
                        <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 5 %}-o empty{% endif %}"></i>
                        ({{data.average_product_rating.rating_avg|floatformat:1}})
                    </div>
                    {% else %}
                    <div class="review-rating" style="font-size:12px;">
                        <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                        <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                        <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                        <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                        <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                    </div>
                    {% endif %}
                <div class="d-md-flex justify-content-between mt-sm-1 d-sm-block">
                    <div class="d-block ">
                    {% if data.product_discount.product_discount_active%}
                    <p class="mb-0 mt-0 price-tag">
                        Rs.{{data.product_price}}<br> <del class="mt-0 mb-0 text-muted"
                        style="font-size: .7rem;">&nbsp{{data.discount_calculator}}&nbsp</del></p>
                    {% else %}
                    <p class="mb-0 mt-0 price-tag">
                        Rs.{{data.product_price}}</p>
                    {% endif %}
                    </div>

                </div>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}