{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
<!--details section-->
<div class="container-fluid mt-5 bg-white" id="detail_container">
    <div class="row mt-2">
        <div class="col-xs-6 m-2 mt-2 text-center" id="main_product_section">
            <img class=" bg-light shadow" id="main_display_image" src=" {{singleProduct.product_image_src.url}}">
            <div id="other_alternative_image" class="m-5">
                <img class="bg-light shadow" id="alternative_image1" src="{% static 'images/products/image2.png' %}">
                <img class="bg-light shadow" id="alternative_image2" src="{% static 'images/products/image3.jpeg' %}">
                <img class="bg-light shadow" id="alternative_image3" src="{% static 'images/products/image1.jpg' %}">
                <img class="bg-light shadow" id="alternative_image4" src="{% static 'images/products/mobile.jpg' %}">
            </div>
        </div>
        <div class="col-md-6 mt-2" id="main_product_content_section">
            <!--product name-->
            <h5 class="fs-4">{{singleProduct.product_name}}</h5>

            <div class="availability">
                {% if singleProduct.product_availability %}
                In stock
                {% else %}
                Out of stock
                {% endif %}
            </div>

            <!--categorylevel2-->
            <p class="mb-2 text-muted text-uppercase small">{{singleProduct.product_category.category_name_level2}} ||
                Brand: <strong> {{singleProduct.product_category.brand_name}}</strong></p>

            <!--product ratings-->
            <div id="detail_product_average_rating" class="mb-2">
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star-half-alt fa-xs"></i>
                <i class="far fa-star fa-xs"></i>
            </div>

            <!--product price-->
            <div>
                {% if singleProduct.product_discount.product_discount_active%}
                <p>
                    <del class="price_before_discount"> <span style="font-size: 12px;">
                            Rs.{{singleProduct.product_price}}</span></del>
                    <span style="padding: 2px 8px; font-size: 12px; color:#ffffff;  background: #f57224; width: 100px;">
                        {{singleProduct.product_discount.product_discount_percentage}}% off
                    </span>
                </p>
                <div>
                    <span class="price_after_discount" style="font-size: 18px;"> <span
                            style="font-size: 12px;">Rs.</span> {{singleProduct.discount_calculator}}</span>
                </div>
                {% else %}
                <p><span class="price_after_discount ml-1 "><span style="font-size: 12px;">Rs.</span>
                        {{singleProduct.product_price}}
                    </span></p>
                {% endif %}
            </div>

            <!--product details-->
            <p class="pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                officia quis dolore quos sapiente tempore alias.</p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                            <td>One Piece 5407X</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                            <td>Pink</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                            <td>Nepal,Kathmandu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr style="height: 5px;">
            <div class="mt-1 mb-4">
                <p><span style="font-family: Trebuchet MS; font-weight: 300px; font-size: 15px; font-style: italic;">Select
                        Size:</span></p>
                <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="small" name="materialExampleRadios" checked>
                    <label class="form-check-label small text-uppercase card-link-secondary" for="small">Small</label>
                </div>
                <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="medium">Medium</label>
                </div>
                <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="large">Large</label>
                </div>
            </div>

            <!--Quantity-->
            <div class="def-number-input number-input safari_only mt-2 mb-0">
                <p><span
                        style="font-family: Trebuchet MS; font-weight: 300px; font-size: 15px; font-style: italic;">Quantity:</span>
                </p>
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus bg-white"
                    style="border:none; outline:none; width:20px;"><i class="fas fa-minus fa-xs"></i></button>
                <input class="quantity fw-normal" min="0" name="quantity" value="1" type="number"
                    style="width: 60px; text-align:center;">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus bg-white"
                    style="border:none; outline:none; width:20px;"><i class="fas fa-plus fa-xs"></i></button>
            </div>


            <div class="mt-4" class="product_buttom_addToCart_buyNow">
                <a class="alert alert-primary buy_now_button" href="{% url 'checkout' %}"
                    style="text-decoration: none;">Buy Now</a>
                <form action="/cart/" method="post" class="d-inline">
                    {% csrf_token %}
                    <input hidden type="number" name="detail_item_id" value="{{singleProduct.id}}" id="detail_item_id">
                    <button class="alert alert-secondary add_to_cart_button" type="submit"
                        style="text-decoration: none;"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--More details and rating/comment sections-->
<div class="container mt-sm-5 mb-sm-5 border p-4" style="height: 500px;">
    <div class="row">
        <div class="col-md-12">
            <div class="product-tab">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#details" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#review" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                </ul>
            </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="home-tab">
                        <p>
                            something here
                        </p>
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-reviews">
                                    {% comment %} {% for rs in comments %} {% endcomment %}
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div><a href="#"><i class="fa fa-user-o"></i> jiwan</a> </div>
                                                <div><b>Subject</b> </div>
                                                <div><a href="#"><i class="fa fa-clock-o"></i> 2021/02/1</a></div>

                                                <div class="review-rating pull-right">
                                                    <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                                    <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                                    <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                                    <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                                    <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>

                                                </div>

                                            </div>
                                            <div class="review-body">
                                                <p>Ratingsd rateng</p>
                                            </div>
                                        </div>
                                    {% comment %} {% endfor %} {% endcomment %}



                                    {% comment %} <ul class="reviews-pages">
                                        <li class="active">1</li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                    </ul> {% endcomment %}
                                </div>
                            </div>
                            <!--Comment and review-->
                            <div class="col-md-6">
                                <h4 class="text-uppercase">Write Your Review</h4>

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{message.tags}}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <form class="review-form" action=" {% url 'add_comment' singleProduct.pk %} " method="POST">
                                    {% csrf_token %}
                                    <div class="form_group_section">
                                        <input type="text" class="form_control_section" id="input_subject" placeholder="subject" name="subject">
                                        <!-- {{forms.email}} -->
                                        <label for="input_subject" class="form_label_section">Subject</label>
                                    </div>

                                    <div class="form-group">
                                        <textarea name="comment" class="input form-control" placeholder="Your review"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-rating">
                                            <strong class="text-uppercase">Your Rating: </strong>
                                            <div class="stars">
                                                <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                                                <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                                                <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                                                <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                                                <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                                            </div>
                                        </div>
                                    </div>
                                    {% if user.id is not None %}
                                        <button class="btn" type= "submit" style=" border-radius: 0; background-color: #f57224; color:white;">Submit</button>
                                    {% else %}
                                        You must be logged in to post a review
                                    {% endif %}
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>        
    </div>
</div>


























<!--recommendation section-->
<div id="you_may_like" class="d-block mt-5">
    <h3 class="text-center"> People who viewed this item also viewed </h3>
    <hr style="heigth: 5px">
    {% include 'main_app/product_card.html' %}
</div>
{% endblock content %}