{% load static %}
<footer class="footer" id="footer">
	<div class="container">
		<div class="row">
			<div class="footer-col">
				<h4>company</h4>
				<ul>
					<li><a href="{% url 'about_us' %}">about us</a></li>
					<li><a href="{% url 'contact_us' %}">contact us</a></li>

				</ul>
			</div>
			<div class="footer-col">
				<h4>Get help</h4>
				<ul>
					<li><a href="{% url 'myprofile:my_order' %}">order status</a></li>
					<li><a href="{% url 'merchant_list' %}">Our sellers</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>payment methods</h4>
				<ul>
					<li><img src="{% static 'images/esewa_logo/esewa.png' %}" loading="lazy" width= '50px' alt="Esewa"></li>
					<li><i class="fab fa-cc-paypal" style="color:white; font-size: 45px;"></i></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>follow us</h4>
				<div class="social-links">
					<a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
					<a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
					<a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
