{% extends 'main_app/base.html' %}
{% load static %}


{% block inline-css %}
  <style>
  .table a{
    text-decoration:none;
     color:black;
     border: none;
     padding: 4px;
  }
  .table a:hover{
      text-decoration:none;
      color: #007bff;
  }
  </style>
{% endblock inline-css %}

{% block content %}

    <div class="container border shadow mt-5 pt-4">
      <h4 class="text-center mb-5 ">Our Sellers : {{merchant_list.count}}</h4>
      <div class="row  m-2">
          <div class="col-md-12">
          
          {% for merchant_list in merchant_list %}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Shop Name</th>
                    <th scope="col">Merchant Name</th>
                    <th scope="col">Product Selling</th>
                    <th scope="col">Shop</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>Mark</td>
                    <td>{{merchant_list.first_name}} {{merchant_list.last_name}}</td>
                    <td>{{product_list}}</td>
                    <td><a href="/merchant_shop_now/merchant/{{merchant_list.pk}}/">Shop here</a></td>
                  </tr>
                </tbody>
              </table>
            {% endfor %}
          </div>
      </div>
    </div>
{% endblock content %}
    




