{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}Payment{% endblock  %}

{% block content %}
<style>
    .esewa_btn >input:hover{
        background-color: #B6EA7D;
        transform: scale(1.01);
        transition: 0.2s ease-in-out;
    }
</style>

<script>
    function PaymentFunction(transcation_id){
        console.log("i ma inside the PaymentFunction")
        
        url = '/post_payment/'

        fetch(url, {
            method: "POST",
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken':csrftoken,

        },
        body:JSON.stringify({'transcation_id':transcation_id,'amount' :  '{{grand_total}}'})
        })

        .then((response) =>{
                return response.json()
        })

        .then((data) =>{
                location.reload()
            })
    }

</script>

<!--Item totals-->
<div class="container mt-4 border">
    <div class="col-12">
        <h3 class="text-center p-3 text-muted">Ordered Items</h3>
        <table class="table table-hover">
            <thead>
                <tr class="table-info">
                    <th scope="col">#</th>
                    <th scope="col">Item name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for order_item in ordered_items %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{order_item.product.product_name}}</td>
                    <td>{{order_item.quantity}}</td>
                    <td>Rs. {{order_item.get_total}}</td>
                </tr>
                <tr>
                    {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td>
                        <h5 style="text-decoration: underline;">TOTAL:
                        </h5>
                    </td>
                    <td style="font-weight: bold;"></td>
                    <td style="font-weight: bold;"> Rs.{{grand_total}}  <div class="text-muted" style="font-weight: 200; ">For paypal: ${%widthratio grand_total 10000 85%}</div></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Payment integrations-->

<!--Esewa integration-->
<div class="container mt-4 text-center" >
    <h3 class="mt-3 mb-5 text-muted">Make your payment with</h3>
    <div class="col-12">
        <form action="https://uat.esewa.com.np/epay/main" method="POST">
            <input value="{{grand_total}}" name="tAmt" type="hidden">
            <input value="{{grand_total}}" name="amt" type="hidden">
            <input value="0" name="txAmt" type="hidden">
            <input value="0" name="psc" type="hidden">
            <input value="0" name="pdc" type="hidden">
            <input value="EPAYTEST" name="scd" type="hidden">
            <input value="{{code}}" name="pid" type="hidden">
            <input value="http://127.0.0.1:8000/esewa_successful/?q=su" type="hidden" name="su">
            <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
            <div class="esewa_btn">
                <input value="Paynow" src="{% static 'images/esewa_logo/esewa long.png' %}" type="image" style="border:none; background-color: green; padding:3px; width: 250px; height: 90px;">
            </div>
        </form>
    </div>
</div>
{% endblock content %}