{% load static %}

    <!--First Silde-->
      <div class="container-fluid pl-5 pr-5 overflow-hidden">
        <div class="row prdouctSlider">
          {% for data in first_slide_homepage_product_data %}
          <div class="product_card ">
            {% if data.product_discount.product_discount_active %}
            <p>{{data.product_discount.product_discount_percentage}}% off</p>
            {% endif %}
            <div class="product_image">
              <a href="{% url 'detail_page' data.pk %}"><img src={{data.product_image_src.url}} alt="{{data.pk}}"></a>
            </div>
            <div class="product_bottom">
              <a href="{% url 'detail_page' data.pk %}">
                <p style=" padding:2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> {{data.product_name}}</p>
              </a>
              {% comment %} <p></p> {% endcomment %}
              <div class="product_bottom_star">
              
                {% if data.average_product_rating.rating_avg %}
                  <div class="review-rating pull-right" style="font-size: 12px;">
                      <i style=" color:#FFB656;" class="fa fa-star{% if data.average_product_rating.rating_avg < 1 %}-o empty{% endif %}"></i>
                      <i style=" color:#FFB656;" class="fa fa-star{% if data.average_product_rating.rating_avg < 2 %}-o empty{% endif %}"></i>
                      <i style=" color:#FFB656;" class="fa fa-star{% if data.average_product_rating.rating_avg < 3 %}-o empty{% endif %}"></i>
                      <i style=" color:#FFB656;" class="fa fa-star{% if data.average_product_rating.rating_avg < 4 %}-o empty{% endif %}"></i>
                      <i style=" color:#FFB656;" class="fa fa-star{% if data.average_product_rating.rating_avg < 5 %}-o empty{% endif %}"></i>
                      ({{data.average_product_rating.rating_avg|floatformat:1}})
                  </div>
                
                {% else %}
                  
                  <i class="far fa-star fa-empty-star fa-xs" style="color: #faca51"></i>
                  <i class="far fa-star fa-empty-star fa-xs" style="color: #faca51"></i>
                  <i class="far fa-star fa-empty-star fa-xs" style="color: #faca51"></i>
                  <i class="far fa-star fa-empty-star fa-xs" style="color: #faca51" ></i>
                  <i class="far fa-star fa-empty-star fa-xs" style="color: #faca51" ></i>

                {% endif %}
              </div>
              <div class="product_bottom_buttons">
                {% if data.product_discount.product_discount_active%}
                <p><del class="price_before_discount"> Rs.{{data.product_price}}</del><span
                    class="price_after_discount ml-1"> <span style="font-size: 9px;">Rs.</span> {{data.discount_calculator}}
                  </span></p>
                {% else %}
                <p><span class="price_after_discount ml-1"><span style="font-size: 9px;">Rs.</span> {{data.product_price}}
                  </span></p>
                {% endif %}
                
                {% if request.user.is_customer or request.user.is_superuser %}
                  <form action="/cart/" method="post" class="d-inline">
                  {% csrf_token %}
                    <input hidden type="number" name="detail_item_id" value="{{data.id}}" id="detail_item_id">
                    <button name="add_to_cart"><i class="fas fa-cart-plus mr-2"></i>Add to cart</button>
                  </form>
                {% else %}
                  <form action="/wishlist/{{data.pk}}/ " method="post" class="d-inline">
                  {% csrf_token %}
                    <input hidden type="number" name="detail_item_id" value="{{data.id}}" id="detail_item_id">
                    <button name="add_to_cart" style="background-color: red;"><i class="far fa-heart mr-2"></i>Wish </button>
                  </form>
                {% endif %}
                  
                
              </div>
            </div>
          </div>
          {% comment %} </div> {% endcomment %}
        {% endfor %}
      </div>


</div>
