{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
<div class="row w-100 p-3">
    <!--Filter Section-->
    <div class="col-md-3 col-sm-3 col-3 mt-3 mb-3 pl-4 border-right ">
        <!--Category Name-->
        <h6 style="font-size:14px; font-family:Roboto-Regular; margin-top: 5px;">Related Categories</h6>
        <p style="font-size:13px; font-weight:20px; color:#f57224; font-family:Roboto-Medium;">{ {{search_key | title}} }</p>
        <hr style="margin-top:25px;">

        <!--Filter by min max-->
        <form>
            <div class="mb-3 mt-5">
                <h6 style="margin-bottom: 2px;">Price</h6>
            </div>
            <div class="row " style="margin:0; height:50px;">
                <div class="col-md-3 form_group_section" style="padding-left:0; width:75px; height:50px;">
                    <input type="number" class="form_control_section" id="input_minimum" placeholder="Minimum"
                        style="width:70px;" value="{{price_min_key}}">
                    <label for="input_minimum" class="form_label_section">Min</label>

                </div>
                <div class="col-md-1" style="padding:0; margin:0; margin-right:0; padding-top:10px;">to</div>
                <div class="col-md-3 form_group_section" style="padding-left:0; width: 75px;">
                    <input type="number" class="form_control_section" id="input_maximum" placeholder="Maximunm"
                        style="width:70px;" value="{{price_max_key}}">
                    <label for="input_maximum" class="form_label_section">Max</label>
                </div>
                <div class="col-md-3 min_max_button" id='min_max_button'
                    style="padding-left: 2px; width: 60px; height:25px;">
                    <button type="button"><i class="fas fa-play-circle"></i></button>
                </div>
            </div>
        </form>
        <hr style="margin-top:25px;">

        <!--Filter By Rating-->
        <div class="mb-0 mt-5">
            <h6 class="">Rating</h6>
            <div class="row w-100 m-0 filter_by_rating">
                <button style="outline: none; border:none; background:transparent;" value="5"
                    onclick="updateRating(this)">
                    <label for="customer-rating-5" class="p-0 mr-3 mb-1">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <span style="font-size: 14px; margin-left: 10px"></span>

                    </label>
                </button>
                <br />
                <button style="outline: none; border:none; background:transparent;" value="4"
                    onclick="updateRating(this)">
                    <label for="customer-rating-4" class="p-0 mb-1">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <span style="font-size: 14px; margin-left: 10px">And Up</span>
                </button>
                </label>
                <br />
                <button style="outline: none; border:none; background:transparent;" value="3"
                    onclick="updateRating(this)">
                    <label for="customer-rating-3" class="p-0 mb-1">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <span style="font-size: 14px; margin-left: 10px">And Up</span>
                    </label>
                </button>
                <br />
                <button style="outline: none; border:none; background:transparent;" value="2"
                    onclick="updateRating(this)">
                    <label for="customer-rating-2" class="p-0 mb-1">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <span style="font-size: 14px; margin-left: 10px">And Up</span>
                    </label>
                </button>
                <br />
                <button style="outline: none; border:none; background:transparent;" value="1"
                    onclick="updateRating(this)">
                    <label for="customer-rating-1" class="p-0 mb-1">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                        <span style="font-size: 14px; margin-left: 10px">And Up</span>
                    </label>
                </button>
            </div>
        </div>
    </div>

    <!--products-->
    <div class="col-md-9 col-sm-9 col-9 mt-3 mb-3">

        {% if products %}
        <div class="col-12 mb-4 d-flex justify-content-between">
            <p>{{products.count}} items found for {{search_key}}</p>
            <div class="dropdown sort_by_btn pr-4 mr-5">
                <button class="sort_by" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    id="sort_by_options">
                    <div>
                        <h6>Sort By</h6>
                    </div>
                </button>

                <div class="dropdown-menu  sort_by_list" aria-labelledby="low_to_high">
                    <a class="dropdown-item"
                        href="{% if query_exists %}{{ current_url }}&sort=price_asc {% else %}./?sort=price_asc {% endif %}">Low
                        to High</a>
                    <a class="dropdown-item"
                        href="{% if query_exists %}{{ current_url }}&sort=price_desc {% else %}./?sort=price_desc {% endif %}">High
                        to Low</a>
                </div>
            </div>
        </div>
        <div class="grid_container">
            <!--product 1-->
            {% for product_items in products %}
            <div class="grid_item">
                <div class="product_image_section">
                    <a href=" {% url 'detail_page' product_items.pk %}"><img
                            src="{{product_items.product_image_src.url}}" loading="lazy" alt=""></a>
                </div>
                <div class="product_name" title="{{product_items.product_name}}">
                    <a href=" {% url 'detail_page' product_items.pk %}">{{product_items.product_name}}</a>
                </div>
                {% if product_items.product_discount.product_discount_active%}
                <div class="product_price price_after_discount">
                    Rs. {{product_items.discount_calculator}}
                    <div class="discount_price price_before_discount mt-1 ">
                        <s>Rs. {{product_items.product_price}}</s> <span
                            style="color:#757575;">-{{product_items.product_discount.product_discount_percentage}}%</span>
                    </div>
                </div>
                {% else %}
                <div class="product_price">
                    Rs. {{product_items.product_price}}
                </div>
                {% endif %}
                <div class="product_rating_country_location ">
                    <div class="product_rating">
                        {% if product_items.average_product_rating.rating_avg %}
                            <div class="review-rating pull-right" style="font-size: 12px;">
                                <i style=" color:#FFB656;"
                                    class="fa fa-star{% if product_items.average_product_rating.rating_avg < 1 %}-o empty{% endif %}"></i>
                                <i style=" color:#FFB656;"
                                    class="fa fa-star{% if product_items.average_product_rating.rating_avg < 2 %}-o empty{% endif %}"></i>
                                <i style=" color:#FFB656;"
                                    class="fa fa-star{% if product_items.average_product_rating.rating_avg < 3 %}-o empty{% endif %}"></i>
                                <i style=" color:#FFB656;"
                                    class="fa fa-star{% if product_items.average_product_rating.rating_avg < 4 %}-o empty{% endif %}"></i>
                                <i style=" color:#FFB656;"
                                    class="fa fa-star{% if product_items.average_product_rating.rating_avg < 5 %}-o empty{% endif %}"></i>
                                ({{product_items.average_product_rating.rating_avg|floatformat:1}}) <span class="text-muted" style=" position:absolute; right:8px; font-size: 10px;"> Nepal </span> 
                            </div>
                        {% else %}
                            <div class="review-rating pull-right" style="font-size: 12px;">
                                <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                                <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                                <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                                <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                                <i style=" color:#FFB656;" class="fa fa-star-o empty"></i>
                                <span class="text-muted" style=" position:absolute; right:8px; font-size: 10px;"> Nepal </span> 
                            </div>
                            
                        {% endif %}
                    </div>
                    {% comment %} <div class="country_location">
                        Nepal
                    </div> {% endcomment %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mt-4">
                    <h5>No items </h5>
                    <div class="text-center">
                        <div class="c1nVRb" data-spm-anchor-id="a2a0e.searchlist.list.i0.701a6c6171jj4f">
                                <h4> Search No Result </h4>
                        </div>
                        <div >
                            We're sorry. We cannot find any matches for your search term.
                        </div>
                        <div class="text-center mt-5">
                            <i style="font-size:5rem;" class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    <!--Pagination-->
    <div class="container text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                {% for page_number in total_pages %}
                <li class="page-item"><button class="page-link" onclick="updatePageNumber(this)"
                        value={{page_number}}>{{page_number}}</button></li>
                {% endfor %}

            </ul>
        </nav>
    </div>
</div>
<script>
    var min_max_button = document.getElementById("min_max_button")
    var input_minimum = document.getElementById('input_minimum')
    var input_maximum = document.getElementById('input_maximum')

    var filter_options = {
        'price_min': 0,
        'price_max': 0,
        'min_rating': 0,
        'page': 1
    }

    function updateURL() {
        var url = new URL(window.location.origin + window.location.pathname)
        console.log(filter_options)
        if (filter_options.price_max) url.searchParams.append('price_max', filter_options.price_max)
        if (filter_options.price_min) url.searchParams.append('price_min', filter_options.price_min)
        if (filter_options.min_rating) url.searchParams.append('min_rating', filter_options.min_rating)
        if (filter_options.page) url.searchParams.append('page', filter_options.page)

        window.location = url
    }
    min_max_button.onclick = function (event) {
        input_max_value = input_maximum.value
        input_min_value = input_minimum.value

        if (input_max_value) filter_options['price_max'] = input_max_value
        if (input_min_value) filter_options['price_min'] = input_min_value

        updateURL()
    }

    function updateRating(btn) {
        filter_options['min_rating'] = btn.value
        updateURL()
    }

    function updatePageNumber(btn) {
        console.log(btn.value)
        filter_options['page'] = btn.value
        updateURL()
    }
</script>
{% endblock content %}