{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
<div class="row w-100 p-3">
    <!--Filter Section-->
    <div class="col-md-3  col-sm-3 col-3 mt-3 mb-3">
        <!--Category Name-->
        <h6 style="font-size:14px; font-family:Roboto-Regular; margin-top: 5px;">Related Categories</h6>
        <p style="font-size:13px; font-weight:20px; color:#f57224; font-family:Roboto-Medium;">{Category Name}</p>
        <hr style="margin-top:25px;">

        <!--Search-->
        <!-- <div class="row w-100 mt-4" style="height:70px;">
            <div class="searchbar p-0 mt-1">
                <input type="text" id="input_searchbar" class="searchbar_control" placeholder="Search here...">
                <label for="input_searchbar" class="searchbar_label">Search here</label>
                <button type="submit" class="searchbar_button text-center"><i class="fas fa-search ml-2"></i></button>
            </div>
        </div>
        <hr style="margin-top:10px;"> -->

        <!--Filter by min max-->
        <form>
            <div class="mb-3 mt-5">
                <h6 style="margin-bottom: 2px;">Price</h6>
            </div>
            <div class="row " style="margin:0; height:50px;">
                <div class="col-md-3 form_group_section" style="padding-left:0; width:75px; height:50px;">
                    <input type="number" class="form_control_section" id="input_minimum" placeholder="Minimum"
                        style="width:70px;" value="{{price_min_key}}">
                    <label for="input_minimum" class="form_label_section">Min</label>

                </div>
                <div class="col-md-1" style="padding:0; margin:0; margin-right:0; padding-top:10px;">to</div>
                <div class="col-md-3 form_group_section" style="padding-left:0; width: 75px;">
                    <input type="number" class="form_control_section" id="input_maximum" placeholder="Maximunm"
                        style="width:70px;" value="{{price_max_key}}">
                    <label for="input_maximum" class="form_label_section">Max</label>
                </div>
                <div class="col-md-3 min_max_button" id='min_max_button'
                    style="padding-left: 2px; width: 60px; height:25px;">
                    <button type="button"><i class="fas fa-play-circle"></i></button>
                </div>
            </div>
        </form>
        <hr style="margin-top:25px;">

        <!--Filter By Rating-->
        <div class="mb-0 mt-5">
            <h6 class="">Rating</h6>
            <div class="row w-100 m-0 filter_by_rating">
                <label for="customer-rating-5" class="p-0 mr-3 mb-1">
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <span style="font-size: 14px; margin-left: 10px"></span>
                </label>
                <br />

                <label for="customer-rating-4" class="p-0 mb-1">
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <span style="font-size: 14px; margin-left: 10px">And Up</span>
                </label>
                <br />

                <label for="customer-rating-3" class="p-0 mb-1">
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <span style="font-size: 14px; margin-left: 10px">And Up</span>
                </label>
                <br />

                <label for="customer-rating-2" class="p-0 mb-1">
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <span style="font-size: 14px; margin-left: 10px">And Up</span>
                </label>
                <br />

                <label for="customer-rating-1" class="p-0 mb-1">
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    <span style="font-size: 14px; margin-left: 10px">And Up</span>
                </label>
            </div>
        </div>
    </div>

    <!--products-->
    <div class="col-md-9 col-sm-9 col-9 mt-3 mb-3">

        {% if products %}
        <div class="col-12 mb-4 d-flex justify-content-between">
            <p>{{products.count}} items found for {{search_key}}</p>
            <div class="dropdown pr-4 mr-5">
                <button class="sort_by" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    id="sort_by_options">
                    <div>
                        <h6>My Account</h6>
                    </div>
                </button>

                <div class="dropdown-menu  sort_by_list" aria-labelledby="low_to_high">
                    <a class="dropdown-item"
                        href="{% if query_exists %}{{ current_url }}&sort=price_asc {% else %}./?sort=price_asc {% endif %}">Low
                        to High</a>
                    <a class="dropdown-item"
                        href="{% if query_exists %}{{ current_url }}&sort=price_desc {% else %}./?sort=price_desc {% endif %}">High
                        to Low</a>
                </div>
            </div>
        </div>
        <div class="grid_container">
            <!--product 1-->
            {% for product_items in products %}
            <div class="grid_item">
                <div class="product_image_section">
                    <a href=" {% url 'detail_page' product_items.pk %}"><img
                            src="{{product_items.product_image_src.url}}" loading="lazy" alt=""></a>
                </div>
                <div class="product_name" title="{{product_items.product_name}}">
                    <a href=" {% url 'detail_page' product_items.pk %}">{{product_items.product_name}}</a>
                </div>
                {% if product_items.product_discount.product_discount_active%}
                <div class="product_price price_after_discount">
                    Rs. {{product_items.discount_calculator}}
                    <div class="discount_price price_before_discount mt-1 ">
                        <s>Rs. {{product_items.product_price}}</s> <span
                            style:"color:#757575;">-{{product_items.product_discount.product_discount_percentage}}%</span>
                    </div>
                </div>
                {% else %}
                <div class="product_price">
                    Rs. {{product_items.product_price}}
                </div>
                {% endif %}
                <div class="product_rating_country_location">
                    <div class="product_rating">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star-half-alt fa-xs" style="color:#faca51"></i>
                        <i class="fas fa-star fa-xs" style="color:#e9e9e9;"></i>
                    </div>
                    <div class="country_location">
                        Nepal
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        No items
        {% endif %}

    </div>
</div>
<script>
    var min_max_button = document.getElementById("min_max_button")
    var input_minimum = document.getElementById('input_minimum')
    var input_maximum = document.getElementById('input_maximum')


    min_max_button.onclick = function (event) {
        input_max_value = input_maximum.value
        input_min_value = input_minimum.value
        console.log(input_max_value)
        var query_string = ""
        var added = false
        if (input_max_value == null && input_min_value == null){
            console.log("I am not here")
            query_string = ""
            window.location.href = query_string
        }
        else {
            console.log("i am here")
            if (input_max_value) {
                query_string += 'price_max=' + input_max_value;
                added = true;
            }
            if (input_min_value) {
                if (added) query_string += "&";
                query_string += 'price_min=' + input_min_value
            }

            var url = new URL(window.location)
            var params_length = (Array.from(url.searchParams).length)
            var has_query = params_length > 0 ? true : false
            if (has_query) {
                query_string = "&" + query_string
            } else {
                query_string = "?" + query_string
            }
            if (added) {
                window.location.href += query_string
            }
        }
    }
</script>
{% endblock content %}